* {
  margin: 0;
  font-family:
    Inter,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* Page layout */
.container {
  min-height: 100vh;

  display: grid;
  grid-template: repeat(5, 1fr) / repeat(1, fit-content(250px)) repeat(4, 1fr);
  grid-template-areas:
    "nav header header header header"
    "nav main main main main"
    "nav main main main main"
    "nav main main main main"
    "nav main main main main";
}

/* Header */
header {
  background: #ffffff;
  grid-area: header;
  padding-inline: 2rem;

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding-block: 1.25rem;

  gap: 50px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;

  flex: 1;
}

.search-bar input[type="text"] {
  background-color: #e2e8f0;
  border: none;
  border-radius: 20px;
  padding-block: 5px;
  padding-inline: 10px;

  flex: 1;

  font-size: 1rem;
}

.search-bar i {
  width: 10px;
  transform: translateY(3px);
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.profile-section img {
  border-radius: 100%;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
}

.header-bottom .welcome-section {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.welcome-section img {
  border-radius: 100%;
}

.action-buttons button {
  background-color: #1992d4;
  color: #ffffff;
  border: none;

  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  border-radius: 20px;

  margin-inline: 3px;
}

.action-buttons button:hover {
  cursor: pointer;
}

/* Nav sidebar */
nav {
  background: #1992d4;
  color: white;
  grid-area: nav;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  font-size: 1.5rem;
  font-weight: 600;

  margin-block: 1.25rem;
  margin-inline: 1.5rem;
}

nav .logo img {
  transition: transform 200ms ease-in-out;
}

nav .logo:hover img {
  transform: rotate(35deg);
}

nav ul {
  padding-left: 1.5rem;
  padding-block: 1rem;
}

nav li {
  padding-block: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 0.25rem 0.25rem 0.25rem 1rem;
  font-weight: 500;

  transition: all 200ms ease-in-out;
}

nav li:hover {
  background-color: #6cb6de;
  transform: translateX(-5px);
}

nav li span {
  padding-left: 1rem;
}

nav i {
  width: 20px;
}

/* Main content */
main {
  background: #e2e8f0;
  grid-area: main;

  z-index: -1;
}
