@font-face {
  font-family: "Inter";
  src: url(assets/Inter-VariableFont_slnt\,wght.ttf);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family:
    Inter,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Page layout */
body {
  min-height: 100vh;

  display: grid;
  grid-template:
    repeat(1, fit-content(250px)) repeat(4, 1fr) / repeat(1, fit-content(250px))
    repeat(4, 1fr);
  grid-template-areas:
    "nav header header header header"
    "nav main main main main"
    "nav main main main main"
    "nav main main main main"
    "nav main main main main";
}

/* Header */
header {
  grid-area: header;
  background: #ffffff;
  padding-inline: 2rem;

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

  display: grid;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr max-content;

  padding-block: 1.25rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar input[type="text"] {
  background-color: #e2e8f0;
  border: none;
  border-radius: 20px;
  padding-block: 5px;
  padding-inline: 10px;

  font-size: 1rem;
  width: min(80%, 500px);
}

.search-bar span {
  cursor: pointer;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.profile-section img {
  border-radius: 100%;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
}

.header-bottom .welcome-section {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.welcome-section img {
  border-radius: 100%;
}

.action-buttons button {
  background-color: #1992d4;
  color: #ffffff;
  border: none;

  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  border-radius: 20px;

  margin-inline: 3px;
}

.action-buttons button:hover {
  cursor: pointer;
}

/* Nav sidebar */
nav {
  grid-area: nav;
  background: #1992d4;
  color: white;
  padding-inline: 1.5rem 2rem;
  padding-block: 1.25rem;

  display: grid;
  grid-auto-rows: max-content;
  gap: 30px;
}

nav .logo {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  font-weight: 600;
}

nav .logo span {
  font-size: 1.4em;
  margin-right: 0.75rem;
  transition: transform 200ms ease-in-out;
}

nav .logo:hover span {
  transform: rotate(35deg);
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-block: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 0.25rem 0.25rem 0.25rem 1rem;
  font-weight: 500;

  transition: all 200ms ease-in-out;
}

.nav-link:hover {
  background-color: #6cb6de;
  /* After some changes, this transition produces some jankiness. */
  /* Should investigate further before implementing */
  /* translate: -5px; */
}

nav i {
  width: 20px;
}

/* Main content */
main {
  background: #e2e8f0;
  grid-area: main;

  z-index: -1;
}
