@font-face {
  font-family: "Norse-Bold";
  src: url(assets/Norse-Bold.otf);
}

:root {
  --left-padding: 3rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: stretch;

  height: 100vh;
}

/* Side header */
header {
  flex: 1;

  background: url(https://images.unsplash.com/photo-1698694839928-3f3520be15cb?auto=format&fit=crop&q=80&w=2670&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat center center fixed;
  background-size: cover;
}

.header-logo {
  position: relative;
  top: 20vh;
  padding-block: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: rgb(0, 0, 0, 0.6);
}

.header-logo > h1 {
  color: white;
  font-family: "Norse-Bold", Verdana, Arial, Helvetica, sans-serif;
  font-size: 7rem;
}

/* Main - right side */
main {
  flex: 2;
  background: #f9fafb;
  display: grid;
  grid-template-rows: 1.15fr 1fr 1fr;
}

.right-text {
  padding-left: var(--left-padding);
  padding-right: 10rem;
  padding-top: 9rem;
  padding-bottom: 1.25rem;

  font-weight: 500;
  font-size: 1.5rem;
}

/* Form */
fieldset {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px 10px;
  padding-left: var(--left-padding);
}

.inputs-container {
  padding-block: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

input {
  display: block;
  margin-top: 3px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 6px;
  font-size: 1rem;

  transition: box-shadow 150ms ease-in-out;
}

input:focus {
  outline: 0;
  border: 1px solid #557ae1;
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}

label {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

/* Submit section */
.submit-container {
  padding-top: 25px;
  padding-left: var(--left-padding);
}

button {
  background: #596d48;
  padding: 15px 60px;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}
